<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101296821632-vrk668tu9jru99hjlo3a55g2qg8m2snu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101296821632-vrk668tu9jru99hjlo3a55g2qg8m2snu</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_ukelPvon_ERCI_HcbXoz0_6O8xcDmY</string>
	<key>GCM_SENDER_ID</key>
	<string>101296821632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.billychan.Winstars</string>
	<key>PROJECT_ID</key>
	<string>winstar-ios-8871</string>
	<key>STORAGE_BUCKET</key>
	<string>winstar-ios-8871.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101296821632:ios:231cb7a4fdf334b6f65d65</string>
	<key>DATABASE_URL</key>
	<string>https://winstar-ios-8871.firebaseio.com</string>
</dict>
</plist>